  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-white);
  }
 
  /* Footer */
  
  footer {
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }

  footer p{
      color: var(--main-white);
  }

  h1{
    color: black;
    padding-bottom: 10px;
  }

  #contact_info{
    color: black;
    
  }